<div class="container">

<div class="social-icons">
    <span><img src="assets/insta.png" width="25px" height="auto"></span>
    <span><img src="assets/youtube.png" width="25px" height="auto"></span>
    <span><img src="assets/facebook.png" width="25px" height="auto"></span>
</div>


<div class="social-icons">
    <span>Home   </span>
    <span>Terms & Conditions</span>
    <span>Privacy Policy </span>
    <span>Contact Us </span>
</div>
    <div class="social-icons">
        © 2020 Top Learning App. All Rights Reserved

    </div>

</div>