<div class="container">

  <ng-image-slider #nav  
    [images]="sliderObj"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '256', height: '400', space: 0}"
    slideImage="1">
  </ng-image-slider>
</div>


 <div class="m">
  <div class="container-fluid" >

    <div class="row m-1">
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="container p-5">
                          <div class="vertical-center">
                            <h1>The Optimal Partner In Learning</h1>
                            <p>
                                Competitive exam coaching is not boring anymore. TOP offers you with smartest strategy designed by pioneers in the field 
                                to secure your dream job. Whether it is General PSC, Technical exams or departmental exams, 
                                TOP has extensive video lectures and meticulously prepared study materials and lets you learn with ease and convenience.
                            </p>
                            <img src="assets/googleplay.png" width="150px" height="auto">
                          </div>
                        </div>
                           
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <img class="appinhand-img" src="assets/appinhand.png" width="100%" height="auto">
                    </div>
                    <div class="bg-net">
                        <img src="assets/bg-net.png"  width="100%">
                    </div>
    </div>
  
  </div>
</div>



<div class="container-fluid features-sec">
    <div class="row">
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 bg-img1 p-5">

            <img src="assets/academic 1.png" width="25px" height="auto">
           <h4>Learn from the Best</h4>
           <p>
               Top brings you courses designed and delivered by experts in each subject.
           </p>
       </div>
   
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 p-5">
        <img src="assets/test 1.png" width="25px" height="auto">
           <h4>Regular Mock Tests</h4>
           <p>Helps you keep exam-ready with regular practice tests and feedbacks.</p>
   
       </div>
   
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 bg-img2 p-5">
        <img src="assets/storytelling 1.png" width="25px" height="auto">
           <h4>Latest Syllabus</h4>
           <p>Classes and study materials up to date with the latest syllabus of PSC.</p>
       </div>
    </div>
   </div>

<!-- section  -->
<div class="container p-5">
    <div class="row ">
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                <div class="container">
                  <div class="vertical-center">
                      <h3>Exam Focused Preparation</h3>
                      <p>
                          TOP – The learning app lets you pursue a chosen exam from beginning to success, in a way better than what you get from a coaching institute. 
                          The advantage with Top is that you can start whenever you want and move at your own pace and comfort.
                      </p>
                      <button class="btn f-btn">Download Now</button>
                  </div>    
                </div>
                  
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                <img class="appinhand-img" src="assets/app-main.png" width="99%" height="auto">
            </div>
            
    </div>

</div>
   



<!-- section  -->
<div class="container p-5">
    <div class="row ">
        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
            <img class="appinhand-img" src="assets/app-subscription.png" width="99%" height="auto">
        </div>

            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                <div class="container">
                  <div class="vertical-center">
                    <h3>Continuous Learning</h3>
                    <p>
                        Learn as you live for ever. Even if you are not focusing on a particular exam right now, 
                        learning shouldn’t stop. TOP helps you keep updated with all the relevant information from all topics in a 
                        systematic way that will help you stay in the hunt without spending huge amount of time and effort. TOP becomes an indispensable companion for a job seeker as well as a continuous learner. 
                        It will also provide you with all the happenings in the job arena and give you alerts.
                    </p>
                    <button class="btn f-btn">Download Now</button>
                  </div>
              </div>
            </div>
            
            
    </div>

</div>


<!-- section -->

<!-- <div class="container">
  <div class="div-center">

    <h2>How it Looks</h2>
    <span>Take a look at the sample screens of the features we provide.</span>
  </div>
  <ng-image-slider #nav  
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '256', height: '512', space: 0}"
    slideImage="1">
  </ng-image-slider>
</div> -->




<!-- section  -->

<!-- <div class="container-fluid features-sec1 mt-5">
  <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 p-0">
        <img src="assets/chara2.png" width="100%">
      </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 p-5">
            <h4>What are you waiting for?</h4>
            <p>That's right, what are you waiting for? You've come this far, read all the way to the bottom of the page.
              The only thing left to do is to get yourself over to the App Store and download  today...</p>
              <img src="assets/googleplay.png" width="150px" height="auto">
        </div> 
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 p-0">
          <img src="assets/chara1.png" width="100%">
        </div>
  </div>
</div> -->


