
<div class="container features-sec">
    <div class="row">
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
           <h2>Learn from the Best</h2>
           <p>
               Top brings you courses designed and delivered by experts in each subject.
           </p>
       </div>
   
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
   
           <h2>Regular Mock Tests</h2>
           <p>Helps you keep exam-ready with regular practice tests and feedbacks.</p>
   
       </div>
   
       <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
           <h2>Latest Syllabus</h2>
           <p>Classes and study materials up to date with the latest syllabi of PSC.</p>
       </div>
    </div>
   </div>