table {
    border-collapse: collapse;
    width: fit-content;
 
    display: block;
    margin-left: auto; 
    margin-right: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  
  .outer{
    border: 1px solid black;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
  //   border: 1px solid lightgrey;
  }
  .userdata{
    text-align: left;
  }